test-data2.txt
lib
version
*.tgz
_
_*
Makefile.conf
*~
test
auto.cgpr
test.txt
ada_crash_course
*main
.clang*
*#
*.lexch
*.o
*.ali
*.stderr
*.stdout
*.bexch
*.cswi
b__*
gpsauto.cgpr
messages.txt
*-loc.xml
